{% extends 'todo/base.html' %}

{% block content %}

<h2>Регистрация</h2>

<h3 class="text-danger"> {{ error }} </h3>

<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col text-end">
                {{ form.username.label }}
            </div>
            <div class="col text-start">
                {{ form.username }}
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                {{ form.password1.label }}
            </div>
            <div class="col text-start">
                {{ form.password1 }}
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                {{ form.password2.label }}
            </div>
            <div class="col text-start">
                {{ form.password2 }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-info">Зарегистрироваться</button>
        </div>
    </div>

</form>

{% endblock %}